<div id="fixedTop">
    <h1>Rechnungskopie</h1>
  </div>
  <section id="rechnungskopie" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
    <img src="../../../assets/img/post.svg" class="headerImage" />
    <a class="borderedArrowLink borderedArrowLinkWithIcon" ng-reflect-router-link="" href="">
        <img src="../../../assets/img/pdf.svg" class="borderedArrowLinkIcon"> Rechnung als PDF herunterladen
    </a>
    <a class="borderedArrowLink borderedArrowLinkWithIcon" ng-reflect-router-link="" href="">
        <img src="../../../assets/img/post.svg" class="borderedArrowLinkIcon"> Rechnung per Post erhalten
    </a>

  </section>