<div id="fixedTop" class="fixedTopSubPage" >
    <h1>Einwilligungserklärung</h1>
</div>

<section id="downloadSubpage" class="subPage">
    <img src="../../../assets/img/einwilligung-large.svg" />
    <div class="downloadSubpageContent">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        <ul class="lineList">
            <a [routerLink]="">
                <li>
                    <span>Ratenzahlungs-Flyer</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
            </a> 
            <a [routerLink]="">
                <li>
                    <span>Installment service</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
            </a> 
            <a [routerLink]="">
                <li>
                    <span>pago de instalación</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
            </a> 
            <a [routerLink]="">
                <li>
                    <span>paiement échelonné</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
            </a> 
            <a [routerLink]="">
                <li>
                    <span>الدفع بالتقسيط</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
            </a> 
            <a [routerLink]="">
                <li>
                    <span>分期付款</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
            </a>
            <a [routerLink]="">
                <li>
                    <span>pagamento rateale</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
            </a> 
        </ul>
   
    </div>

</section>
