<body id="reportViolation" class="LoginSubPage fixedTopSubPage mobileHeadingCenter">
    <h1>Missbrauch melden</h1>
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <div id="loginArea">
        <div id="reportViolationArea">
            <img src="../../../assets/img/violation.svg" id="symbol"/>
            <p>Geben Sie die E-Mail-Adresse für Ihr Health AG-Konto ein und wir helfen Ihnen, ein neues Passwort festzulegen.</p>
           
    
              <div id="helpBox">
                <img src="../../../assets/img/telephone-white.svg" id="phoneIcon"/>
                <h2>Sie benötigen Hilfe?<br />Nehmen Sie Kontakt auf:</h2>
                <h2>+49 40 524 709-000</h2>
                <h2>Mo-Fr: 8-18 Uhr, Sa: 9-13 Uhr</h2>
            </div>
        </div>
    </div>
  </body>
  