<div id="fixedTop">
  <h1>Ratenzahlung</h1>
</div>

<section id="ratenzahlung" class="subPage">
  <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
  <!-- STEP 1 -->
  <h3>Ratenplan</h3>
  <img src="../../../assets/img/status-display-step-one.svg" />
  <h4>Ihr Ratenplan im Detail</h4>
  <small>Rechnung Nr.: 1008034224</small>
  <div class="greyBackground">
    <div class="ratenzahlungTable">
      <div class="tableLine">
        <div class="smallTableLeft">Laufzeit</div>
        <div class="smallTableRight">12 Monate<br />12.10.20 - 12.10.21</div>
      </div>

      <hr />
      <div class="tableLine">
        <div class="smallTableLeft">Rechnungsbetrag 01</div>
        <div class="smallTableRight">568,90 €</div>
      </div>

      <div class="tableLine">
        <div class="smallTableLeft">Rechnungsbetrag 01</div>
        <div class="smallTableRight">750 €</div>
      </div>

      <div class="tableLine">
        <div class="smallTableLeft">Rechnungsbetrag 01</div>
        <div class="smallTableRight">120 €</div>
      </div>

      <div class="tableLine">
        <div class="smallTableLeft">Rechnungsbetrag 01</div>
        <div class="smallTableRight">1.365,00 €</div>
      </div>

      <div class="tableLine">
        <div class="smallTableLeft">Zinssatz</div>
        <div class="smallTableRight">9,9 %</div>
      </div>

      <div class="tableLine">
        <div class="smallTableLeft">Zinsen</div>
        <div class="smallTableRight">26,99 €</div>
      </div>

      <div class="tableLine">
        <div class="smallTableLeft">Mahngebühr</div>
        <div class="smallTableRight">7,50 €</div>
      </div>

      <div class="tableLine">
        <div class="smallTableLeft">Gesamtbetrag</div>
        <div class="smallTableRight">2.824,16 €</div>
      </div>

      <hr />
      <div class="tableLine">
        <div class="smallTableLeft">11 Raten über</div>
        <div class="smallTableRight textLightBlue">49,50 €</div>
      </div>
      <div class="tableLine">
        <div class="smallTableLeft">12. Rate</div>
        <div class="smallTableRight textLightBlue">49,50 €</div>
      </div>
    </div>
  </div>
  <a [routerLink]="'/ratenzahlung/invoice-date'"><div class="button">Weiter zur Bezahlung</div></a>
</section>
