<div id="fixedTop">
    <h1>Erstattungsservice</h1>
</div>
<section id="erstattungsserviceSub" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">

    <h3>Leistungen bis zum 3,5-fachen Faktor / Honorarvereinbarung
</h3>
    <img src="../../../assets/img/erstattung-sub.svg" class="headerImage" />

    <div class="blueBox" style="margin-top: 0">
        <h3>Kann ich Leistungen über den 3,5fachen Faktor 
            hinaus erstattet bekommen?</h3>
    </div>
    <p>
        Ihre Krankenversicherung erstattet Ihnen für zahnärztliche Leistungen den Höchstsatz, der in der Gebührenordnung für Zahnärzte (GOZ) gesetzlich festgelegt ist, d. h. bis zum 3,5-fachen Satz. Ein darüber hinausgehendes Honorar wird nicht übernommen. </p>

        <p>Sie können aber mit Ihrem Zahnarzt höhere Honorare bzw. höhere Steigerungssätze frei vereinbaren. Dies betrifft vor allem Leistungen, die ent-weder sehr schwierig sind oder eine besonders hohe Qualität aufweisen.</p>

<p>Die Übernahme dieser erhöhten Honorare durch eine private Krankenversicherung (PKV) oder Beihilfe ist in den Versicherungsbedingungen bzw. den Beihilfebestimmungen festgelegt. Bei einer Begrenzung auf den 3,5-fachen Satz oder den sogenannten „Gebührenrahmen“ endet hier die tarifliche Erstattungspflicht und Sie müssen diese zusätzlichen Kosten selbst tragen.</p>

<p>Haben Sie jedoch einen Vertrag mit Ihrer PKV abgeschlossen, der die Erstattung von Honorarvereinbar-ungen nicht von vornherein aus-schließt oder Sie haben einen Tarif ohne spezielle Faktorbegrenzung, ist die Versicherung grundsätzlich zur Erstattung von erhöhten Faktoren verpflichtet.
    </p>

    <div class="greyBox">
        <p>Fazit: Sie können zwar Leistungen mit einem höheren Honorar als den 3,5-fachen Satz mit Ihrem Zahnarzt vereinbaren, tragen aber die entstehenden Zusatzkosten selbst. Ausgenommen davon sind Tarife, die keine Faktorbegrenzung beinhalten oder die Honorarvereinbarungen nicht ausgeschlossen haben. Hier können Sie bei Ihrer Krankenversicherung nachfragen.</p>
    </div>
    <div class="button">
        Zurück zur Fragen-Liste
    </div>
</section>