<div id="fixedTop">
    <h1>Erstattungsservice</h1>
</div>
<section id="erstattungsserviceSub" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">

    <h3>
        Die Beihilfe erstattet Ihnen Aufwendungen für Material- und Laborkosten nicht vollständig?
</h3>
    <img src="../../../assets/img/erstattung-sub.svg" class="headerImage" />

    <div class="blueBox" style="margin-top: 0">
        <h3>
            Die Beihilfe erstattet Ihnen Aufwendungen für Material- und Laborkosten nicht vollständig?</h3>
    </div>
    <p>
        Als Beihilfepatient sind Sie grundsätzlich privat versichert, d. h. ein Zahnarzt wird seine Leistungen nach der Gebührenordnung für Zahnärzte (GOZ) abrechnen. Auf dieser Basis werden auch Laborkosten nach der Preisliste der Zahntechnikerinnung für aufwändige, hochwertige Zahntechnik (BEB) kalkuliert. </p>

       <p> Allerdings wird durch die geltende Beihilfeverordnung geregelt, dass die Aufwendungen für Material- und Laborkosten nur einer angegebenen prozentualen Höhe beihilfefähig sind, die nicht 100% des Rechnungsbetrages entsprechen müssen.</p>
        
        <p>Die Nichterstattung seitens der Beihilfe resultiert daher nicht aus Beanstandungen an der Berechnung, sondern orientiert sich an den Beihilfebestimmungen und Erstattungsrichtlinien. Diese sind nicht Bestandteil der Gebührenordnung für Zahnärzte (GOZ). Von der Beihilfeverordnung eingeschränkte oder ausgeschlossene Leistungen wurden nach der GOZ verordnungs- und rechtskonform berechnet.</p>
        

    <div class="greyBox">
        <p>Fazit: Der Zahnarzt stellt seine Rechnung an privatversicherte und beihilfeberechtigte Patienten gemäß der Gebührenordnung für Zahnärzte (GOZ). Die Erstattung hingegen erfolgt nach den tariflichen Bestimmungen der Beihilfe. Sind bei der Beihilfe bestimmte Leistungen teilweise oder gar nicht erstattungspflichtig, so muss der Patient die restlichen Kosten selbst tragen.</p>
    </div>
    <div class="button">
        Zurück zur Fragen-Liste
    </div>
</section>