<div id="fixedTop">
    <h1>Erstattungsservice</h1>
</div>
<section id="erstattungsserviceSub" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">

    <h3>Die Beihilfe erstattet Ihnen Kosten für das Anästhetikum nicht vollständig?</h3>
    <img src="../../../assets/img/erstattung-sub.svg" class="headerImage" />

    <div class="blueBox" style="margin-top: 0">
        <h3>
            Die Beihilfe erstattet Ihnen Kosten für das Anästhetikum nicht vollständig?</h3>
    </div>
    <p>
        In den Bestimmungen der Gebührenordnung für Zahnärzte (GOZ) ist festgehalten, dass die Kosten der verwendeten Anästhetika „gesondert berechnungsfähig“ sind. Das bedeutet, es können die tatsächlich entstandenen Kosten an den Patienten weiterberechnet werden. Eine Begrenzung auf z.B. 0,70 Euro pro Karpule ist nicht vorgesehen.
    </p>

    <div class="greyBox">
        <p>Die unvollständige Erstattung erfolgt damit aufgrund der Bestimmungen der Beihilfe, die nicht verpflichtet ist, die gesamten Kosten zu übernehmen sondern nur einen festgelegten Maximalpreis. Übersteigen die Kosten pro Karpule diesen Preis, muss der Patient den Mehrpreis selbst tragen.</p>
    </div>
    <div class="button">
        Zurück zur Fragen-Liste
    </div>
</section>