<div id="fixedTop" class="fixedTopSubPage mobileHeadingCenter">
    <h1>Erstattungsservice</h1>
  </div>
  <section id="erstattungsservice" class="subPage">
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
    <img src="../../../assets/img/erstattungsservice.svg" class="headerImage" />

    <div class="greyBox">
    <ul>
        <li>
            Ihre private Krankenversicherung zahlt nicht den vollen Betrag?
        </li>
        <li>
            Sie benötigen Unterstützung bei der Argumentation? Wir helfen!
        </li>
        <li>    
            Bevor Sie Versicherungsschreiben hochladen, bitte folgende Liste beachten.
        </li>
    </ul>
    </div>
    <div class="button" [routerLink]="'./main'" >Zur Fragen-Liste</div>
</section>