<div id="mobileBottomBar" class="onlyVisibleForMobile">
  <div [routerLink]='"/rechnungen"' class="bottomBarIconWrapper">
      <img src="../../../assets/img/mobile-bottom-bar/rechnungen.svg">
      <p>Rechnungen</p>
  </div>
  <div [routerLink]='"/postfach"' class="bottomBarIconWrapper">
      <img src="../../../assets/img/mobile-bottom-bar/postfach.svg">
      <p>Postfach</p>
  </div>
  <div [routerLink]='"/hilfe"' class="bottomBarIconWrapper">
      <img src="../../../assets/img/mobile-bottom-bar/hilfe.svg">
      <p>Hilfe & Services</p>
  </div>
  <div class="bottomBarIconWrapper">
      <img src="../../../assets/img/mobile-bottom-bar/logout.svg">
      <p>Logout</p>
  </div>
</div>
