<body id="login">
    <script src="" async defer></script>
    <h1>Anmeldung</h1>
    <div id="loginArea">
        <div id="loginAreaBorder">
            <div id="loginByInvoiceTab" class="loginTypeTab active">Per Rechnung einloggen</div>
            <div id="loginByAccountTab" class="loginTypeTab">Mit Benutzerkonto einloggen</div>

            <div id="loginByInvoiceTabContent">
              <div class="loginPasswordLink">
                  <a href="" class="center">Wo finde ich mein Passwort</a>
                  <img src="../../../assets/img/arrow-right.svg" class="arrow" />
                </div>
              <form>
                  <div>
                      <input placeholder="Rechnungsnummer"/><br />
                      <input placeholder="Passwort"/>
                      <div class="loginButton">Anmelden</div>
                  </div>
              </form>
          </div>
          <div id="loginByAccountTabContent">
              <form>
                  <div>
                  <input placeholder="E-Mail-Adresse"/><br/>
                  <input placeholder="Passwort"/>
                  <div class="loginButton">Anmelden</div>
                  </div>
              </form>
          </div>
            <div class="loginPasswordLink">
              <a href="" class="center">Sie haben Probleme beim Einloggen?</a>
              <img src="../../../assets/img/arrow-right.svg" class="arrow" style="right: 85px" />
            </div>

        </div>
        <div id="loginInfoBox">
          <h3 class="thinHeading">Sie finden Ihr Anschreiben nicht?<br /> Wir helfen gerne weiter:</h3>
          <h3>+<strong>49 40 524 709-000</strong></h3>
          <h3 class="thinHeading">Mo-Fr: 8-18 Uhr, Sa: 9-13 Uhr</h3>
        </div>
    </div>
  </body>
