<body id="pwdFirstChange" class="LoginSubPage fixedTopSubPage mobileHeadingCenter">
    <h1>Passwort neu vergeben</h1>
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <div id="loginArea">
        <div id="registerAccountArea">
            <img src="../../../assets/img/first-password.svg"/>

            <div class="greyBox">
                <p>Bitte vergeben Sie ein neues Passwort. Dieses muss mindestens 10 Zeichen lang sein und Buchstaben, Zahlen und Sonderzeichen enthalten.</p>
            </div>
            <input id="newPassword" placeholder="Neues Passwort"/>
            <a [routerLink]="'../step-4'" ><div class="button">Link noch einmal schicken</div></a>
        </div>
    </div>
  </body>
