<div id="fixedTop" class="fixedTopSubPage"> 
  <h1>Dokumente hinzufügen</h1>
</div>
<section id="messageAttachment" class="subPage">
  <p class="info-versicherung">Handelt es sich bei dem Dokument um ein Versicherungsschreiben</p>
  <p class="info-versicherung">
    bezüglich eines Erstattungsservice-Fall? Dann klicken Sie bitte
    <u><a [routerLink]="'/'">hier</a></u>
  </p>

  <app-uploadfile> </app-uploadfile>

  <a [routerLink]="'..'"><div class="button">Dateien hochladen</div></a>
</section>
