<div id="rechnungDetailPdf">
  <h1>Rechnungsdetails</h1>
  <section class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
    <div id="wrapperContent" class="invoiceCopyFrame">
      <object width="100%" height="100%" [data]="invoiceBase64File" type="application/pdf">
        <iframe frameborder="0" cellspacing="0" width="100%" height="100%" [src]="invoiceBase64File" type="application/pdf"></iframe>
      </object>
    </div>
  </section>
</div>

<a [routerLink]='"../rechnung-option"'><div class="invoiceCopy button">Rechnungskopie anfordern</div></a>
