<div id="fixedTop" class="fixedTopSubPage">
    <h1>Hilfe & Services</h1>
</div>

<section id="hilfeUndServices" class="subPage">
    <a [routerLink]="'/'"><img src="../../../assets/img/navigation-back.svg" class="navigationIcon"></a>
    <img src="../../../assets/img/header-hilfe-services.svg" class="subPageIcon"/>
    <ul class="lineList">
        <a [routerLink]="['/postfach', 'nachricht-neu']">
        <li>
            <img src="../../../assets/img/hilfeundservices-kontakt.svg" class="lineListIcon"><span>Kontakt</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
        </a>
        <a [routerLink]="'/hilfe/erstattung'">
            <li><img src="../../../assets/img/hilfeundservices-erstattung.svg" class="lineListIcon"><span>Erstattungsservice</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
        </a>
        <a [routerLink]="'/hilfe/downloads'">
            <li><img src="../../../assets/img/hilfeundservices-downloads.svg" class="lineListIcon"><span>Downloads</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
        </a>
        <a [routerLink]="'/hilfe/faq'">
            <li><img src="../../../assets/img/hilfeundservices-faq.svg" class="lineListIcon"><span>Häufig gestellte Fragen</span> <img class="linkArrow" src="../../../assets/img/arrow-right.svg" /></li>
        </a>

    </ul>
    <div id="helpBox">
        <h2>Sie benötigen Hilfe?<br/> Nehmen Sie Kontakt auf:</h2>
        <div id="contactBox">
            <img src="../../../assets/img/telephone-white.svg" id="phoneIcon">
            <img src="../../../assets/img/mail-white.svg" id="mailIcon">
            <h2 class="helpBoxTelNr">+49 40 524 709-000</h2>
            <h4 class="helpBoxTime">Mo-Fr: 8-18 Uhr, Sa: 9-13 Uhr</h4>
            <h2 class="helpBoxForm">Kontaktformular</h2>
        </div>
    </div>
</section>
