<div id="fixedTop" class="fixedTopSubPage mobileHeadingCenter">
  <h1>Adresse ändern</h1>
</div>
<div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
<section id="editAddress" class="subPage editDataPage">
  <img src="../../../assets/img/navigation-back.svg" class="navigationIcon" />
  <img src="../../../assets/img/new-message.svg" class="headerImage" />
  <form [formGroup]="addressForm">
    {{ addressForm.value | json}}
    <div class="inputFieldArea">
      <input
        formControlName="street"
        id="streetName"
        placeholder="Straße und Hausnummer"
      />
      <input
        formControlName="addition"
        id="aditionalText"
        placeholder="Adresszusatz"
      />
      <input formControlName="postalCodecode" id="plz" placeholder="PLZ" />
      <input formControlName="city" id="ort" placeholder="Ort" />
      <input formControlName="country" placeholder="Land" value="Deutschland" />

      <div (click)='saveChanges(addressForm.value)' class="button">Adresse ändern</div>
    </div>
  </form>
</section>
