<div id="fixedTop">
  <h1>Erstattungsservice</h1>
</div>
<section id="erstattungsservice" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">

  <img src="../../../assets/img/erstattungsservice.svg" class="headerImage" />


  <!-- Erstattungsservice Step 1 -->
  <!-- <div class="greyBox">
      <ul>
          <li>
              Ihre private Krankenversicherung zahlt nicht den vollen Betrag?
          </li>
          <li>
              Sie benötigen Unterstützung bei der Argumentation? Wir helfen!
          </li>
          <li>
              Bevor Sie Versicherungsschreiben hochladen, bitte folgende Liste beachten.
          </li>
      </ul>
  </div> -->

  <div class="greyBox" style="margin-bottom: 0">
      <h3>Trifft einer der unten stehenden Fälle auf Sie zu: </h3>
      Nein <label class="switch">
        <input type="checkbox" id="getInvoicesDigitally" />
        <span class="slider round"></span>
      </label> Ja
      <div class="button">Versicherungsschreiben hochladen</div>
  </div>
  <div class="blueBox" style="margin-top: 0">
      <h3>In folgenden Fällen ist eine weitere Erstattung nicht möglich:</h3>
  </div>
  <a href="">
      <div class="erstattungsFall">
          <p>Die Erstattung Ihrer Rechnung ist strittig, da Sie im Basis-/Standardtarif einer privaten Krankenversicherung (PKV) versichert sind</p>
      </div>
  </a>
  <a [routerLink]="'/hilfe/erstattung/main/2'">
      <div class="erstattungsFall">
          <p>Sie möchten Leistungen über den 3,5fachen Faktor hinaus erstattet bekommen</p>
       </div>
  </a>
  <a href="">
      <div class="erstattungsFall">
          <p>Die Krankenversicherung erstattet Ihnen die zahntechnischen Leistungen nicht vollständig, mit dem Hinweis auf das Preis-Leistungs-verzeichnis Ihres gewählten Tarifs</p>
      </div>
  </a>
  <a href="">
      <div class="erstattungsFall">
          <p>Die Beihilfe erstattet Ihnen Kosten für das Anästhetikum nicht vollständig</p>
      </div>
  </a>
  <a href="">
      <div class="erstattungsFall">
          <p>Die Beihilfe erstattet Ihnen Aufwendungen für Material- und Laborkosten nicht vollständig</p>
      </div>
  </a>
  <a href="">
      <div class="erstattungsFall">
          <p>Die Versicherung lehnt Ihren Heil- und Kostenplan ganz/teilweise ab</p>
      </div>
  </a>




</section>
