<div id="fixedTop" class="fixedTopSubPage mobileHeadingCenter">
    <h1>Sicherheitsfrage ändern</h1>
  </div>
  <section id="editSecurity" class="subPage editDataPage">
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
    <img src="../../../assets/img/new-message.svg" class="headerImage"/>
    <div class="inputFieldArea">
        <select>
            <option selected="true" disabled="disabled">Neue Sicherheitsfrage wählen</option>
        </select>
        <input id="currentAnswer" placeholder="Aktuelle Antwort" />
        <input id="newAnswer" placeholder="Neues Passwort" />
        <input id="repeatNewPass" placeholder="Neues Passwort wiederholen" />
        <a href="#">
            <div class="button">Sicherheitsfrage ändern</div>
        </a>
    </div>
  </section>
