<div id="fixedTop">
    <h1>Erstattungsservice</h1>
</div>
<section id="erstattungsserviceSub" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">

    <h3>Die Erstattung Ihrer Rechnung ist strittig, da Sie im Basis-/Standardtarif einer privaten Krankenversicherung (PKV) versichert sind?
</h3>
    <img src="../../../assets/img/erstattung-sub.svg" class="headerImage" />

    <div class="blueBox" style="margin-top: 0">
        <h3>Die Erstattung Ihrer Rechnung ist strittig, da Sie im Basis-/Standardtarif einer privaten Krankenversicherung (PKV) versichert sind?</h3>
    </div>
    <p>
        Sind Sie bei einer PKV im Basis- oder Standardtarif versichert, werden zahnärztliche Leistungen nur bis zu einem bestimmten Betrag übernommen. </p>

       <p>Kennt Ihr Arzt Ihren Versichertenstatus, dann wird er bei der Abrechnung die zulässigen Höchstgrenzen des Basistarifs der Gebührenordnung für Zahnärzte (GOZ) anwenden, außer Sie haben vor der Behandlung eine davon abweichende Vereinbarung mit Ihrem Zahnarzt getroffen. </p> 
        
      <p> Grundsätzlich ist Ihr Zahnarzt allerdings nicht verpflichtet, Ihren persönlichen Versichertenstatus zu kennen oder zu erfragen. Weisen Sie sich als Patient nicht als basis- oder standardversichert aus, nehmen Sie privatzahnärztliche Leistungen in Anspruch, welche gemäß GOZ uneingeschränkt honoriert werden (keine Faktorbindung). D.h. Sie müssen in der Regel dann den Restbetrag bezahlen, den Ihre PKV nicht übernimmt. </p>        

    <div class="greyBox">
        <p>Fazit: Weisen Sie sich vor der Behandlung unbedingt als Versicherter im Basis- oder Standardtarif aus, damit es bei Ihrem Arzt nicht zu Unklarheiten in der Abrechnung kommt.</p>
    </div>
    <div class="button">
        Zurück zur Fragen-Liste
    </div>
</section>