<body id="pwdInfo" class="LoginSubPage fixedTopSubPage mobileHeadingCenter">
    <h1>Wo finde ich mein Passwort?</h1>
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <div id="loginArea">
        <div id="emailRecoveryArea">
            <p>Sie finden Ihre Rechnungsnummer & Passwort in dem Anschreiben, das Sie mit Ihrer Rechnung erhalten haben.</p>
            <a [routerLink]="'../pwd-violation'" class="borderedArrowLink borderedArrowLinkWithIcon">
                <img src="../../../assets/img/header-hilfe-services.svg" class="borderedArrowLinkIcon"/>
                Missbrauch melden
              </a>
        </div>
    </div>
  </body>
