<!-- Schritt 4 fuer Benutzerkonto Registrieren -->
<body id="registerWithAccount4" class="LoginSubPage">
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <h1>Mit Benutzerkonto registrieren</h1>
    <div id="loginArea">
        <div id="registerAccountArea">
            <img src="../../../assets/img/confirmation-large.svg"/>
            <div class="greyBox">
                <p>Ihre Zugangsdaten wurden erstellt und werden in Kürze auf dem Postweg bei Ihnen eintreffen.</p>
            </div>
           
            <div class="button">Zur Anmeldung</div>
        </div>
    </div>
  </body>
  