<div id="fixedTop">
  <h1></h1>
</div>

<section id="ratenzahlung" class="subPage bestaetigungRatenzahlung">
  <img src="../../../assets/img/navigation-close.svg" class="navigationIconClose">
  <!-- STEP 4 -->
  <h1 class="textDarkBlue" style=""> 
    Lehnen Sie sich zurück! Wir bereiten Ihre Ratenzahlung vor
  </h1>
  <img src="../../../assets/img/haken.svg" style="margin-bottom: 20px"/>
  <div class="greyBackground middleGreyBackground">
    <h3>Die nächsten Schritte</h3>
    <ol>
      <li>Vielen Dank für den Abschluss der Ratenzahlung.</li>
      <li>Ihre Dokumente liegen im Postfach für Sie bereit.</li>
      <li>Ihre Ratenzahlung startet zum vereinbarten Zeitpunkt.</li>
    </ol>
  </div>
</section>
