<div id="fixedTop">
  <h1>Änderungen erfolgreich</h1>
</div>
<section id="editDeactivate" class="subPage editDataPage">
  <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
  <img src="../../../assets/img/confirmation-large.svg" class="headerImage" />
  <p class="textGrey">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et
  </p>
  <a [routerLink]="'/profil'">
    <div class="button">Zurück zum Profil</div>
  </a>
</section>
