<div id="fixedTop" class="fixedTopSubPage mobileHeadingCenter">
    <h1>Passwort ändern</h1>
  </div>
  <section id="editPassword" class="subPage editDataPage">
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
    <img src="../../../assets/img/new-message.svg" class="headerImage"/>
    <div class="inputFieldArea">
        <input type="password" id="currentPass" placeholder="Aktuelles Passwort" />
        <input type="password" id="newPass" placeholder="Neues Passwort" />
        <input type="password" id="repeatNewPass" placeholder="Neues Passwort wiederholen" />
        <a href="#">
            <div class="button">Passwort ändern</div>
        </a>
    </div>
  </section>
