<div id="fixedTop">
  <h1>Ratenzahlung</h1>
</div>

<section id="vorzeitigAbloesen3" class="subPage">
  <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
  <h3>Bezahlung</h3>
  <img src="../../../assets/img/status-display.svg" />
  <h2>Lastschrift-Mandat erteilen</h2>
  <div class="greyBackground">
    <p>
      Ich bin damit einverstanden, dass die Health AG die Ratenzahlung mittel
      SEPA-Lastschriftmandat einzieht. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
      justo duo dolores et ea rebum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
    </p>

    <label for="lastschriftmandat"> Lastschrift-Mandat erteilen</label>
    <!-- <input
      type="checkbox"
      id="lastschriftmandat"
      name="lastschriftmandat"
      value="lastschriftmandatErteilt"
    /> -->
    <label class="switch">
      <input type="checkbox"
      id="lastschriftmandat"
      name="lastschriftmandat"
      value="lastschriftmandatErteilt" />
      <span class="slider round"></span>
    </label>


  </div>

  <a [routerLink]="'/ratenzahlung/summary'"><div class="button">Weiter </div></a>
</section>
