<div id="fixedTop">
    <h1>Erstattungsservice</h1>
</div>
<section id="erstattungsserviceSub" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">

    <h3>Zahntechnische Leistungen</h3>
    <img src="../../../assets/img/erstattung-sub.svg" class="headerImage" />

    <div class="blueBox" style="margin-top: 0">
        <h3>Die Krankenversicherung erstattet Ihnen die zahntechnischen Leistungen nicht vollständig, mit dem Hinweis auf das Preis-Leistungs-Verzeichnis Ihres gewählten Tarifs?
        </h3>
    </div>
    <p>
        Zahntechnische Leistungen, wie z.B. die Herstellung von Zahnersatz, werden vom Zahnarzt in Zusammenarbeit mit einem Zahnlabor erbracht. Das Zahnlabor stellt dem Zahnarzt diese Arbeit als zahntechnische Leistungen in Rechnung. Dabei legt der Laborinhaber seine Preise frei fest, d. h., sie werden je nach Einzelfall kalkuliert (in der Fachsprache wird dies „Berechnung nach BEB“ genannt) und sind im Falle privater zahnärztlicher Leistungen nicht preisgebunden. Der Zahnarzt übernimmt dann den Betrag für zahntechnische Leistungen in seiner Rechnung an den Patienten.</p>
<p>
Die Versicherungen können die Übernahme der Kosten dieser zahntechnischen Leistungen in ihren Verträgen begrenzen. Grundlage für die Erstattung von zahntechnischen Leistungen durch Ihre Versicherung ist dabei eine versicherungsintern erstellte Preisliste. Eine versicherungstarifliche Leistungsbeschränkung kann aber nur Auswirkungen auf die spätere Rechnungslegung haben, wenn dem zugestimmt wurde. 
    </p>

    <div class="greyBox">
        <p>Fazit: Sie können zwar Leistungen mit einem höheren Honorar als den 3,5-fachen Satz mit Ihrem Zahnarzt vereinbaren, tragen aber die entstehenden Zusatzkosten selbst. Ausgenommen davon sind Tarife, die keine Faktorbegrenzung beinhalten oder die Honorarvereinbarungen nicht ausgeschlossen haben. Hier können Sie bei Ihrer Krankenversicherung nachfragen.</p>
    </div>
    <div class="button">
        Zurück zur Fragen-Liste
    </div>
</section>