<!-- Schritt 3 fuer Benutzerkonto Registrieren -->
<body id="registerWithAccount3" class="LoginSubPage">
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <h1>Mit Benutzerkonto registrieren</h1>
    <div id="loginArea">
        <div id="registerAccountArea">
            <img src="../../../assets/img/post.svg"/>

            <div class="greyBox">
                <p>Bitte schauen sie in Ihrem E-Mail Posteingang nach, wir haben Ihnen eine Bestätigungsmail geschickt.</p>
            </div>

            <a [routerLink]="'../step-4'" ><div class="button">Link noch einmal schicken</div></a>
        </div>
    </div>
  </body>
