<body id="registerWithAccount" class="LoginSubPage fixedTopSubpage">
    <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
    <h1>Mit Benutzerkonto registrieren</h1>
    <div id="loginArea">
        <div id="reportViolationArea">
            <img src="../../../assets/img/profile.svg"/>

            <div class="blueBox">
                <h3>Mit einer Registrierung eröffnen sich ganz neue Möglichkeiten für Sie!</h3>
                <ul>
                    <li>Alle Rechnungen der Health AG auf auf einen Blick</li>
                    <li>Zahlen Sie mehrere Rechnungen bequem mit nur einer Ratenzahlung</li>
                    <li>Ihre Konversation zu allen Rechnungen in einem Postfach</li>
                </ul>
                <a [routerLink]='"./step-2"'><div class="button buttonWhite">Zugang beantragen</div></a>
            </div>
           <a [routerLink]='"/"'><div class="button">Ohne Registrierung weiter</div></a>
        </div>
    </div>
  </body>
