<div id="fixedTop">
    <h1>Erstattungsservice</h1>
</div>
<section id="erstattungsserviceSub" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">

    <h3>Die Versicherung lehnt Ihren Heil- und Kostenplan ganz/teilweise ab?</h3>
    <img src="../../../assets/img/erstattung-sub.svg" class="headerImage" />

    <div class="blueBox" style="margin-top: 0">
        <h3>Die Versicherung lehnt Ihren Heil- und Kostenplan ganz/teilweise ab?</h3>
    </div>
    <p>
        Die in diesem Heil- und Kostenplan geplante Behandlung wurde in der Zwischenzeit bereits durchgeführt und Sie haben dazu eine Rechnung erhalten?</p>

        <p>Bitte reichen Sie diese schnellstmöglich bei der Versicherung ein, da die tatsächlichen Beanstandungen der Leistungsabrechnung von der Kostenzusage abweichen können. Senden Sie die darauffolgende Leistungsabrechnung und Kommentierung gerne an uns weiter.</p>

        <p>Unsere Abrechnungsexperten prüfen die Argumente der Versicherung und erstellen eine fachlich fundierte Stellungnahme. Diese können Sie bei der Versicherung einreichen, um eine erfolgreiche Erstattung zu bewirken.</p>

<p>Schließt Ihr Vertrag die Erstattung von Honorarvereinbarungen nicht von vornherein aus oder haben Sie einen Tarif ohne spezielle Faktorbegrenzung abgeschlossen, ist die Versicherung grundsätzlich zur Erstattung von erhöhten Faktoren verpflichtet.
    </p>

    <div class="greyBox">
        <p>Fazit: Sie können zwar Leistungen mit einem höheren Honorar als den 3,5-fachen Satz mit Ihrem Zahnarzt vereinbaren, tragen aber die entstehenden Zusatzkosten selbst. Ausgenommen davon sind Tarife, die keine Faktorbegrenzung beinhalten oder die Honorarvereinbarungen nicht ausgeschlossen haben. Hier können Sie bei Ihrer Krankenversicherung nachfragen.</p>
    </div>
    <div class="button">
        Zurück zur Fragen-Liste
    </div>
</section>