<div id="fixedTop" class="fixedTopSubPage mobileHeadingCenter">
  <h1>Zahlungsaufschub </h1>
</div>
<section id="invoiceDelay" class="subPage">
  <img src="../../../assets/img/time.svg" class="headerImage" />

  <div class="borderedHeadline">
    <h3>Sie möchten 14 Tage Aufschub?</h3>
  </div>

  <div class="invoiceDelayBody">
    <p>Ihre Zahlung muss dann <b>bis zum 8. November 2021</b>
      bei uns eingegangen sein. Sie können das Fälligkeitsdatum kein zweites Mal verschieben
    </p>
    <div [routerLink]="'../../rechnungen'"  class="button">Zahlungsaufschub beantragen</div>
  </div>

</section>
