<div id="fixedTop" class="fixedTopSubPage mobileHeadingCenter">
  <h1>E-Mail Adresse ändern</h1>
</div>
<section id="editEmail" class="subPage editDataPage">
  <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
  <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
  <img src="../../../assets/img/new-message.svg" class="headerImage" />
  <div class="inputFieldArea">
    <input id="newEmail" placeholder="Neue E-Mail Adresse" />
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et.
    </p>
    <a [routerLink]="'../../edit/success'">
      <div class="button">Passwort ändern</div>
    </a>
  </div>
</section>
