<div id="fixedTop" class="fixedTopSubPage">
    <h1>Häufig gestellte Fragen</h1>
</div>

<section id="downloads" class="subPage">
    <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
    <div id="faqAccordion">
        <img src="../../../assets/img/faq.svg" />
    
        <button class="accordion">Wie kann ich eine Ratenzahlungsvereinbarung treffen und was sind die Voraussetzungen?</button>
        <div class="panel">
        <p>Patienten, die eine Rechnung von uns erhalten haben, können mit uns eine Ratenzahlungsvereinbarung treffen. Es gibt dabei zwei Varianten der Ratenzahlungsmöglichkeit:
            <br /><br />
            Variante I: Wenn Sie Ihre Rechnung innerhalb von sechs Monaten (bei entsprechendem Vertragsabschluss mit Ihrer Praxis auch bis zu zwölf Monaten) in sechs Raten gleicher Betragshöhe bezahlen, entstehen Ihnen keine weiteren Kosten. Die Voraussetzungen für eine zins- und gebührenfreie Ratenzahlung sind der Eingang der ersten Rate innerhalb der Rechnungsfälligkeit sowie ein Mindestratenbetrag in Höhe von 25,00 Euro monatlich.
            <br /><br />
            Variante II: Bei einer Ratenzahlungsvereinbarung mit einer Laufzeit von mehr als sechs Monaten oder einem Beginn der Ratenzahlungsvereinbarung nach der Rechnungsfälligkeit berechnen wir einen Zinssatz von derzeit 9,90 % p.a. zuzüglich
            einer einmaligen Bearbeitungsgebühr von 1,5 % auf den offenen Rechnungs-betrag. Die Voraussetzungen für diese Möglichkeit der Ratenzahlung sind eine Mindestrate in Höhe von 25,00 Euro oder eine maximale Laufzeit von 72 Monaten.</p>
        </div>
    
        <button class="accordion">Warum werde ich zur Zahlung der Rechnung aufgefordert, obwohl noch keine Erstattung erfolgt ist?</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>
    
        <button class="accordion">Meine Rechnung wurde nicht korrekt erstellt – was nun?</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Was ist der HealthProtector? </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>
    </div>
   

  
</section>