<div id="fixedTop" class="fixedTopSubPage mobileHeadingCenter">
  <h1>Benutzer-Konto sperren</h1>
</div>
<section id="editDeactivate" class="subPage editDataPage">
  <div id="mobileOnlyBackground" class="mobileOnlyBackgroundWhite"></div>
  <img src="../../../assets/img/navigation-back.svg" class="navigationIcon">
  <img src="../../../assets/img/sperren.svg" class="headerImage" />
  <p class="textGrey">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et
  </p>
  <a [routerLink]="'../../edit/success'">
    <div class="button">Konto sperren</div>
  </a>
</section>
